.sidebar {
  background: #fff;
  min-height: 100vh;
  max-height: 100vh;
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f0f3f3;
  padding: 20px 0;

  &__link {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: .3s background;
    color: #8277aa;

    &:hover {
      background: #eef1f4;
    }

    &_active {
      background: #6900ff;
      color: #fff;
      
      &:hover {
        background: #6900ff;
      }
    }
  }
}